.footerservicios {
  color: #caf0f8;
  padding: 50px;
  background: linear-gradient(0deg, #0077b6 53%, #caf0f8 100%); }

.containerservicios {
  display: grid;
  grid-template-columns: 1.5fr;
  grid-template-rows: 0.3fr 0.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.3fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "navservicios" "mainservicios" "servicio1servicios" "servicio2servicios" "servicio3servicios" "servicio4servicios" "footerservicios"; }
  @media screen and (min-width: 768px) {
    .containerservicios {
      display: grid;
      grid-template-columns: 1.5fr 1.5fr;
      grid-template-rows: 0.1fr 0.3fr 1.5fr 1.5fr 0.1fr;
      gap: 2px 20px;
      grid-auto-flow: row;
      grid-template-areas: "navservicios navservicios" "mainservicios mainservicios" "servicio1servicios servicio2servicios" "servicio3servicios servicio4servicios" "footerservicios footerservicios"; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .containerservicios {
      display: grid;
      grid-template-columns: 1.5fr 0.3fr 1.2fr;
      grid-template-rows: 0.1fr 0.3fr 1.5fr 1.5fr 0.1 fr;
      gap: 1px 20px;
      grid-auto-flow: row;
      grid-template-areas: "navservicios navservicios navservicios" "mainservicios mainservicios mainservicios" "servicio1servicios . servicio2servicios" "servicio3servicios . servicio4servicios" "footerservicios footerservicios footerservicios"; } }

.navservicios {
  justify-self: stretch;
  grid-area: navservicios; }

.mainservicios {
  grid-area: mainservicios;
  padding: 30px; }

.footerservicios {
  grid-area: footerservicios;
  color: #caf0f8;
  padding: 50px;
  background: #0077b6;
  background: linear-gradient(0deg, #0077b6 53%, #caf0f8 100%); }

.servicio1servicios {
  grid-area: servicio1servicios;
  justify-self: center;
  align-self: start;
  padding: 30px; }
  @media screen and (min-width: 768px) {
    .servicio1servicios {
      justify-self: start;
      align-self: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .servicio1servicios {
      justify-self: start;
      align-self: stretch; } }

.servicio2servicios {
  justify-self: center;
  align-self: center;
  grid-area: servicio2servicios;
  padding: 30px; }
  @media screen and (min-width: 768px) {
    .servicio2servicios {
      justify-self: end;
      align-self: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .servicio2servicios {
      justify-self: end;
      align-self: start; } }

/*.servicio2servicios iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    padding: 30px;
}*/
.servicio3servicios {
  justify-self: center;
  align-self: center;
  padding: 30px;
  grid-area: servicio3servicios; }
  @media screen and (min-width: 768px) {
    .servicio3servicios {
      justify-self: center;
      align-self: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .servicio3servicios {
      justify-self: center;
      align-self: center; } }

.servicio4servicios {
  justify-self: center;
  align-self: center;
  grid-area: servicio4servicios;
  padding: 30px; }
  @media screen and (min-width: 768px) {
    .servicio4servicios {
      justify-self: center;
      align-self: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .servicio4servicios {
      justify-self: center;
      align-self: center; } }

.containerindex2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.5fr 1fr 1fr 0.2fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "navindex2" "main" "Servicios" "contactenos" "footer"; }
  @media screen and (min-width: 768px) {
    .containerindex2 {
      grid-template-columns: 3fr 0.3fr;
      grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
      gap: 2px 20px;
      grid-auto-flow: row;
      grid-template-areas: "navindex2 navindex2" "main main" "Servicios contactenos" "footer footer"; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .containerindex2 {
      display: grid;
      grid-template-columns: 2fr 0.3fr 1fr;
      grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
      gap: 1px 20px;
      grid-auto-flow: row;
      grid-template-areas: "navindex2 navindex2 navindex2" "main main main" "Servicios . contactenos" "footer footer footer"; } }

/*clases index grid*/
.navindex2 {
  justify-self: stretch;
  align-self: start;
  grid-area: navindex2; }

.mainindex2 {
  justify-self: center;
  grid-area: main;
  padding: 10px; }

.footerindex2 {
  grid-area: footer;
  color: #caf0f8;
  padding: 50px;
  background: #0077b6;
  background: linear-gradient(0deg, #0077b6 53%, #caf0f8 100%); }

.contactenosindex2 {
  justify-self: center;
  align-self: start;
  grid-area: contactenos; }
  @media screen and (min-width: 768px) {
    .contactenosindex2 {
      justify-self: end;
      align-self: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .contactenosindex2 {
      justify-self: end;
      align-self: center; } }

.Serviciosindex2 {
  justify-self: center;
  align-self: center;
  grid-area: Servicios;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .Serviciosindex2 {
      justify-self: center;
      align-self: center; } }
  @media screen and (min-width: 768px) and (min-width: 1024px) {
    .Serviciosindex2 {
      justify-self: center;
      align-self: center; } }

body {
  background-color: #caf0f8; }

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #0077b6;
  background: linear-gradient(180deg, #0077b6 53%, #caf0f8 100%);
  flex-flow: column wrap;
  padding: 0; }
  .navigation a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .navigation a:hover {
      background: #caf0f8; }

.section__servicios {
  list-style: none;
  color: #e29578; }
  .section__servicios p {
    padding: 1px;
    color: black; }
  .section__servicios img {
    padding: 10px; }
  .section__servicios li {
    padding: 20px; }
    .section__servicios li a {
      color: #0077b6; }
      .section__servicios li a:hover {
        color: #e29578; }

/* Para metros Mixins */
/* Parametros Maps */
/* Extend -  MAP-GET - MIXNS */
.derechosreservados {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: right 100px;
  width: 500px;
  height: 50px; }

.boton, .boton__facebook, .boton__whatsapp {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 50px;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  background-color: white; }

.boton__facebook {
  background-color: #3a5795;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 50px; }

.boton__whatsapp {
  background-color: #00bb2d;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 50px; }

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 2px; }

.bigicon {
  font-size: 35px;
  color: #36A0FF; }
