$colorfondo: #caf0f8;
$colortexto: #e29578;
$colormenu: rgb(0,119,182);
$colormenudegrade: linear-gradient(180deg, rgba(0,119,182,1) 53%, rgba(202,240,248,1) 100%);
$condicionaltema: ninguno;

 
@import "noticias";
@import "estructura";
body{
    @if $condicionaltema == oscuro {
        background-color: black;
    } @else if $condicionaltema == claro {
        background-color: white;
    } @else if {
        background-color: $colorfondo;
    }
}

.navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: $colormenu;
    background: linear-gradient(180deg, rgba(0,119,182,1) 53%, rgba(202,240,248,1) 100%);
    flex-flow: column wrap;
    padding: 0;
    a { 
        text-decoration: none;
        display: block;
        color: white;
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:hover{
            background: #caf0f8;
        }
      }
}

.section__servicios{
    list-style: none;
    color: #e29578;
    p{
        padding: 1px;
        color: black;
    }
    img{padding: 10px;}
    li{
        padding: 20px;
        a{
            color: rgb(0,119,182);
            &:hover{
                color: #e29578;
            }
        }
    }

}



/* Para metros Mixins */

@mixin footernoticias($paddingd, $ancho, $alto)  {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: $paddingd;
    width: $ancho;
    height: $alto;
}


/* Parametros Maps */

$footerredes: (
    instagram: white,
    facebook: #3a5795,
    whatsapp: #00bb2d
  );


/* Extend -  MAP-GET - MIXNS */

.derechosreservados{
    @include footernoticias(right 100px, 500px, 50px)
}


.boton {
    @include footernoticias(10px, 50px, 50px)
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    background-color: map-get($footerredes , instagram);
}

.boton__facebook {
    @extend .boton;
    background-color: map-get($footerredes , facebook);
    @include footernoticias(10px, 50px, 50px)
}

.boton__whatsapp {
    @extend .boton;
    background-color: map-get($footerredes , whatsapp);
    @include footernoticias(10px, 50px, 50px)
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 2px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}




